<%- include("partials/header"); -%>
    <hr />
    <!-- <h1 class="text_titlu">casa cub</h1> -->

    <!-- Title image -->

    <section id="contact">
      <br />
      <br />
      <br />
      <hr />
      <h1>Contact</h1>
      <hr />
  <br />
      <img src="image/titlu_logo.png" alt="Logo" width="180" height="180" class="titlu_logo">
  <br />
    <br />
      <br />
        <h2>E-mailul dumneavoastră a fost trimis.</h2>
        <br />
        <h3>În scurt timp vom lua legătura cu dumneavoastră.</h3>
        <br />

    </section>



          <%- include("partials/footer"); -%>
