<%- include("partials/header"); -%>

    <br />
    <br />
    <br />

    <!-- Title image -->

    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="image/cabana.jpg" alt="" class="poza_cabana">
        </div>

      </div>


    </div>

    </div>
  </section>

  <section id="about">
    <hr />

    <h1 class="about_title">Cazare în Toplița, pentru o vacanță reconfortantă.</h1>
    <hr />
    <br />

    <div class="container">


      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <p class="text_despre_toplita"> </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elementum porta iaculis. Cras eget risus hendrerit, posuere orci lobortis, placerat purus. Vivamus lacinia posuere tristique. Suspendisse efficitur magna erat, non ultricies
            mi tempor eu. Aenean vel ultricies mi. Praesent egestas leo tincidunt magna pharetra auctor. Phasellus ultricies porttitor arcu, id gravida turpis gravida bibendum. Donec est felis, rutrum non justo sed, vehicula finibus orci. Nulla
            facilisi. Pellentesque euismod mauris quis purus condimentum, non gravida sapien pulvinar. Etiam arcu ipsum, malesuada eu urna in, consequat feugiat quam. Mauris eget felis vitae purus placerat commodo. Donec iaculis augue eu felis porta
            aliquet.</p>
          <p>Suspendisse laoreet vel sem id condimentum. Vestibulum laoreet felis mauris, at tincidunt urna viverra non. Suspendisse blandit feugiat leo. Praesent lacinia magna eu tempor dignissim. Sed eleifend semper augue, scelerisque molestie
            libero tempus eget. Phasellus cursus ante nec odio tempor, tempus malesuada ipsum suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin ullamcorper lacinia ipsum vitae congue.
            Curabitur laoreet facilisis arcu. Ut tincidunt vitae dolor vel efficitur. Aenean dictum, magna nec ultrices semper, dolor enim luctus mi, ut mollis sapien tortor vitae ex.</p>
          <p>Suspendisse laoreet vel sem id condimentum. Vestibulum laoreet felis mauris, at tincidunt urna viverra non. Suspendisse blandit feugiat leo. Praesent lacinia magna eu tempor dignissim. Sed eleifend semper augue, scelerisque molestie
            libero tempus eget. Phasellus cursus ante nec odio tempor, tempus malesuada ipsum suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin ullamcorper lacinia ipsum vitae congue.
            Curabitur laoreet facilisis arcu. Ut tincidunt vitae dolor vel efficitur. Aenean dictum, magna nec ultrices semper, dolor enim luctus mi, ut mollis sapien tortor vitae ex.</p>
          <p></p>
        </div>
        <div class="col-md-2"></div>
      </div>


    </div>
  </section>

  <section id="casa_cub">
    <div class="titlu_casa_cub">
      <br />
      <img src="image/titlu_logo.png" alt="Logo" width="150" height="150" class="titlu_logo">
      <br />
      <hr />
      <h1>Casa CUB</h1>

      <hr />

    </div>
    <div id="colectiePozeCuburi" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#colectiePozeCuburi" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#colectiePozeCuburi" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#colectiePozeCuburi" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="image/cabane/1.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="image/cabane/2.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="image/cabane/3.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#colectiePozeCuburi" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#colectiePozeCuburi" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>



  <section id="atractions">
    <br />
    <hr />
    <h1>Atracții turistice</h1>
    <hr />
    <br />
    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col">
          <a href="partia_toplita"><img src="image/atractii_turistice/partia_toplita.jpg" alt="Logo" width="200" height="200" class="titlu_logo" /></a>
          <br />
          <br />
          <h5><a href="partia_toplita">Pârtia Toplița</a></h5>
        </div>

        <div class="col">
          <a href="alpine_coaster"><img src="image/atractii_turistice/alpine_coaster.jpg" alt="Logo" width="200" height="200" class="titlu_logo" /></a>
          <br />
          <br />
          <h5><a href="alpine_coaster">Alpine Coaster</a></h5>
        </div>

        <div class="col">
          <a href="centru_wellness"><img src="image/atractii_turistice/spa_toplita.jpeg" alt="Logo" width="200" height="200" class="titlu_logo" /></a>
          <br />
          <br />
          <h5><a href="centru_wellness">Centrul Wellness - Băile Banffy</a></h5>
        </div>

      </div>
      <br />
      <div class="row align-items-center">

        <div class="col">
          <a href="strand_banffy"><img src="image/atractii_turistice/strand_banfy.jpg" alt="Logo" width="200" height="200" class="titlu_logo" /></a>
          <br />
          <br />
          <h5><a href="strand_banffy">Ștrandul Banffy</a></h5>
        </div>

        <div class="col">
          <a href="strand_urmanczy"><img src="image/atractii_turistice/strand_urmanczy.jpg" alt="Logo" width="200" height="200" class="titlu_logo" /></a>
          <br />
          <br />
          <h5><a href="strand_urmanczy">Ștrandul Urmanczy</a></h5>
        </div>

        <div class="col">
          <a href="cascada_toplita"><img src="image/atractii_turistice/cascada_toplita.jpg" alt="Logo" width="200" height="200" class="titlu_logo" /></a>
          <br />
          <br />
          <h5><a href="cascada_toplita">Cascada Mezotermală</a></h5>
        </div>

      </div>
      <br />
      <div class="row align-items-end">

        <div class="col">
          <a href="liberty_toplita"><img src="image/atractii_turistice/pescuit_toplita.jpg" alt="Logo" width="200" height="200" class="titlu_logo" /></a>
          <br />
          <br />
          <h5><a href="liberty_toplita">Liberty Fishing</a></h5>
        </div>

        <div class="col">
          <a href="manastire_toplita"><img src="image/atractii_turistice/manastire_toplita.jpg" alt="Logo" width="200" height="200" class="titlu_logo" /></a>
          <br />
          <br />
          <h5><a href="manastire_toplita">Mănăstirea Sf. Ilie</a></h5>
        </div>

        <div class="col">
          <a href="trasee_turistice"><img src="image/atractii_turistice/trasee_turistice.jpg" alt="Logo" width="200" height="200" class="titlu_logo" /></a>
          <br />
          <br />
          <h5><a href="trasee_turistice">Trasee Turistice Şi Cicloturistice</a></h5>
        </div>
      </div>
    </div>
  </section>

<%- include("partials/footer"); -%>
