<%- include("partials/header"); -%>
    <hr />
    <!-- <h1 class="text_titlu">casa cub</h1> -->

    <!-- Title image -->

    <section id="contact">
      <br />
      <br />
      <br />
      <hr />
      <h1>Rezervare</h1>
      <hr />
  <br />
      <img src="image/titlu_logo.png" alt="Logo" width="180" height="180" class="titlu_logo">
  <br />
    <br />
      <br />
        <h2>Rezervarea nu a fost efectuată.</h2>
        <br />
        <h3>Perioada selectată de dumneavoastră este deja rezervată. Vă rugăm încercați o altă perioadă.</h3>
        <br />

    </section>



          <%- include("partials/footer"); -%>
